body {
    background-image: url("../images/bark.JPG");
}

#primary {
    background-color: forestgreen;
    text-align: center;
    padding: 20px 0px;
}

#primary p {
    font-family: 'Eagle Lake', cursive;
    font-size: 30px;
    text-shadow: 1px 1px 2px #32CD32, 0 0 25px #ADFF2F, 0 0 5px #7FFF00;
    color: black;
}

#viewSavedButton {
    background-color: black;
    color: #32CD32;
    font-family: 'Eagle Lake', cursive;
    font-size: 20px;
    border: 1px solid #7FFF00;
}

#scrapeButton, #headerButton {
    color: black;
    text-shadow: 1px 1px 2px #32CD32, 0 0 25px #ADFF2F, 0 0 5px #7FFF00;
    font-family: 'Eagle Lake', cursive;
    font-size: 25px;
    background:rgba(255,255,255,0.5);
    border: 1px solid #32CD32;
    margin-bottom: 50px;
}

#scrapeButton:hover, #headerButton:hover {
    color: #32CD32;
    /* background-color: #32CD32; */
    background-image: url("../images/leaves/leaves.png");
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center; 
    margin: 0px 2%;
    align-items: stretch;
}

.colocasia {
    width: 33%;
    height: 100%;
    border: 2px solid black;
    flex-grow: 1;
}

#slideshow {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 100%;
}

#scrapeResults, #saved {
    width: 85%;
    margin: 0 auto;
}

.card-header {
    font-family: 'Eagle Lake', cursive;
    font-size: 25px;
    color: #32CD32;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#articlesDiv, #savedArticlesDiv {
    background-image: url("../images/asanoha-400px/asanoha-400px.png");
}

.saveButton {
    background-color: forestgreen;
    margin-left: 10px;
    color: white;
    border: 1px solid black;
}

.saveButton:hover {
    background-color: transparent;
    color: forestgreen;
}

.title {
    text-decoration: underline;
    font-weight: bold;
}